html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
  outline: 0;
}
:focus {
  outline: 0;
}
a {
  text-decoration: none;
}
@font-face {
  font-family: 'freestyle-script';
  src: url('../fnt/freestyle-script/freestyle-script.eot');
  src: url('../fnt/freestyle-script/freestyle-script.eot#iefix') format('embedded-opentype'), url('../fnt/freestyle-script/freestyle-script.woff2') format('woff2'), url('../fnt/freestyle-script/freestyle-script.woff') format('woff'), url('../fnt/freestyle-script/freestyle-script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#header {
  background: #fff;
  position: relative;
  width: 100%;
  z-index: 5;
  -webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.1);
}
@media (min-width: 800px) {
  #header {
    overflow: hidden;
  }
}
#header:after {
  display: table;
  content: " ";
  clear: both;
}
#header .logo {
  margin: 15px 50px;
  float: left;
  text-align: center;
}
#header .logo:after {
  display: table;
  content: " ";
  clear: both;
}
@media (min-width: 800px) {
  #header .logo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
  }
}
@media (min-width: 1024px) {
  #header .logo {
    left: 50%;
    margin-left: -20px;
  }
}
#header button {
  position: relative;
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px #9E9E9E;
  background: transparent;
  display: inline-block;
  margin: 40px 9.4% 30px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  float: right;
}
@media (min-width: 800px) {
  #header button {
    display: none;
  }
}
#header button span {
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  margin-top: 4px;
  position: absolute;
  top: 50%;
  left: 4px;
  height: 4px;
  width: 20px;
  background: rgba(83, 99, 219, 0.5);
  box-shadow: 1px 1px #9E9E9E;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#header button span + span {
  margin-top: -2px;
}
#header button span + span + span {
  margin-top: -8px;
}
#header .nav {
  position: absolute;
  top: 107px;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 4;
}
@media (min-width: 800px) {
  #header .nav {
    position: relative;
    top: auto;
    left: auto;
    padding-left: 80px;
  }
}
@media (min-width: 1024px) {
  #header .nav {
    padding-left: 0;
  }
}
#header .nav ul {
  text-align: center;
  font-size: 0;
  -webkit-transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  transition: all 0.7s linear;
}
@media (min-width: 1024px) {
  #header .nav ul li:nth-child(3) a {
    margin-right: 365px;
  }
}
@media (min-width: 800px) {
  #header .nav ul li {
    display: inline;
  }
}
#header .nav ul li a {
  line-height: 1.2;
  display: block;
  padding: 10px 0;
  font: 600 14px 'Open Sans', sans-serif;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  color: #555;
  text-transform: capitalize;
  position: relative;
}
@media (min-width: 800px) {
  #header .nav ul li a {
    margin: 40px 20px;
    display: inline-block;
    padding: 5px;
  }
}
#header .nav ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 1px;
  width: 0;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
#header .nav ul li a:hover {
  color: #5363db;
}
#header .nav ul li a:hover:after {
  width: 100%;
  left: 0;
  background: #5363db;
}
@media (min-width: 800px) {
  #header .nav ul li a:hover:after {
    width: 50%;
    left: 25%;
    right: 25%;
  }
}
.close {
  height: 0;
  overflow: hidden;
}
@media (min-width: 800px) {
  .close {
    height: auto;
  }
}
.open {
  height: 260px;
}
.open-span {
  -webkit-transform: rotate(45deg) translateY(-5px) translateX(-4px);
  -moz-transform: rotate(45deg) translateY(-5px) translateX(-4px);
  -ms-transform: rotate(45deg) translateY(-5px) translateX(-4px);
  -o-transform: rotate(45deg) translateY(-5px) translateX(-4px);
  transform: rotate(45deg) translateY(-5px) translateX(-4px);
}
.open-span-span {
  -webkit-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  transform: translateX(-50px);
  opacity: 0;
}
.open-span-span-span {
  -webkit-transform: rotate(-45deg) translateY(4px) translateX(-5px);
  -moz-transform: rotate(-45deg) translateY(4px) translateX(-5px);
  -ms-transform: rotate(-45deg) translateY(4px) translateX(-5px);
  -o-transform: rotate(-45deg) translateY(4px) translateX(-5px);
  transform: rotate(-45deg) translateY(4px) translateX(-5px);
}
#slider {
  background: #6675e2;
  text-align: center;
  padding: 100px 0 105px;
}
@media (min-width: 800px) {
  #slider {
    background: url(../img/slider.jpg) no-repeat center, rgba(83, 99, 219, 0.92) repeat-y 100% 0;
  }
  #slider:after {
    display: table;
    content: " ";
    clear: both;
  }
}
#slider .wrraper {
  display: inline-block;
}
#slider .wrraper form {
  background: #fff;
  padding: 40px 40px 35px 30px;
  margin: 0 10px;
  display: inline-block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#slider .wrraper form p {
  font: 600 25px 'Open Sans', sans-serif;
  color: #5363db;
  text-transform: capitalize;
  margin-bottom: 15px;
  text-align: left;
}
#slider .wrraper form input,
#slider .wrraper form .slider-select select {
  font: 400 14px 'Open Sans', sans-serif;
  color: #888;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f2f2f2;
  width: 230px;
  height: 48px;
  outline: 0;
  border: 0;
  padding-left: 10px;
  margin-top: 15px;
  display: block;
}
#slider .wrraper form button {
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font: 700 16px 'Open Sans', sans-serif;
  color: #fff;
  background: #5b6ceb;
  outline: 0;
  border: 0;
  padding: 18px 63px;
  margin: 30px -5px 0 0;
  -webkit-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 4px 4px 3px 0px rgba(0, 0, 0, 0.15);
}
#slider .wrraper form button:hover {
  -webkit-box-shadow: inset 0px 0px 0px 50px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0px 0px 0px 50px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0px 0px 0px 50px rgba(255, 255, 255, 0.15);
}
@media (min-width: 800px) {
  #slider .wrraper form,
  #slider .wrraper .slider-text {
    float: left;
  }
}
#slider .wrraper .slider-text {
  color: #fff;
  padding-top: 70px;
}
@media (min-width: 800px) {
  #slider .wrraper .slider-text {
    padding-left: 40px;
    width: 420px;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  #slider .wrraper .slider-text {
    padding-left: 90px;
    width: 500px;
  }
}
#slider .wrraper .slider-text h1 {
  font: 700 48px 'Open Sans', sans-serif;
  padding-bottom: 40px;
  text-transform: uppercase;
}
#slider .wrraper .slider-text p {
  font: 400 italic 40px freestyle-script;
}
@media (min-width: 800px) {
  #slider .wrraper .slider-text p {
    width: 280px;
  }
}
#our-classes {
  text-align: center;
  padding: 120px 0;
}
#our-classes .wrraper {
  display: inline-block;
}
#our-classes .wrraper h3 {
  text-transform: uppercase;
  color: #5b6ceb;
  font: 700 30px 'Open Sans', sans-serif;
}
#our-classes .wrraper h3 span {
  font: 400 italic 40px freestyle-script;
  color: #777;
  text-transform: capitalize;
  display: block;
  padding-bottom: 70px;
}
@media (min-width: 1280px) {
  #our-classes .wrraper .top:after,
  #our-classes .wrraper .bottum:after {
    display: table;
    content: " ";
    clear: both;
  }
}
#our-classes .wrraper .top .div,
#our-classes .wrraper .bottum .div {
  width: 270px;
  display: inline-block;
  margin: 0 25px 25px 0;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width: 1280px) {
  #our-classes .wrraper .top .div,
  #our-classes .wrraper .bottum .div {
    width: 560px;
    padding-right: 40px;
    float: left;
  }
  #our-classes .wrraper .top .div:after,
  #our-classes .wrraper .bottum .div:after {
    display: table;
    content: " ";
    clear: both;
  }
}
#our-classes .wrraper .top .div div,
#our-classes .wrraper .bottum .div div {
  height: 300px;
  background: url(../img/img.jpg);
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
@media (min-width: 1280px) {
  #our-classes .wrraper .top .div div,
  #our-classes .wrraper .bottum .div div {
    width: 270px;
    margin-right: 30px;
    float: left;
  }
}
#our-classes .wrraper .top .div h6,
#our-classes .wrraper .bottum .div h6 {
  text-transform: uppercase;
  margin-top: 45px;
  color: #777;
  font: 700 20px 'Open Sans', sans-serif;
}
@media (min-width: 1280px) {
  #our-classes .wrraper .top .div h6,
  #our-classes .wrraper .bottum .div h6 {
    text-align: left;
  }
}
#our-classes .wrraper .top .div p,
#our-classes .wrraper .bottum .div p {
  margin-top: 30px;
  color: #555;
  font: 400 14px 'Open Sans', sans-serif;
}
@media (min-width: 1280px) {
  #our-classes .wrraper .top .div p,
  #our-classes .wrraper .bottum .div p {
    text-align: left;
  }
}
#our-classes .wrraper .top .div p span,
#our-classes .wrraper .bottum .div p span {
  margin-top: 10px;
  display: block;
  color: #999;
}
#our-classes .wrraper .top .div .left {
  background-position: -273px 0;
}
#our-classes .wrraper .bottum .div div {
  background-position: 0 -304px;
}
#our-classes .wrraper .bottum .div .left {
  background-position: -273px -304px;
}
#gallery {
  display: none;
  text-align: center;
  font-size: 0;
}
@media (min-width: 480px) {
  #gallery {
    display: block;
  }
}
@media (min-width: 480px) {
  #gallery {
    display: block;
  }
}
#gallery div {
  width: 480px;
  height: 349px;
  display: inline-block;
  background: url(../img/img.jpg) 0 -608px;
  position: relative;
}
#gallery div:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #5363db;
}
#gallery div:after {
  top: 50%;
  left: 50%;
  margin: 0 0 -30px -30px;
  padding: 30px;
  background: url(../img/png.png) no-repeat center, #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#gallery div:before,
#gallery div:after {
  content: '';
  position: absolute;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#gallery div:hover:before {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
#gallery div:hover:after {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
#gallery div + div {
  background-position: -481px -608px;
}
#gallery div + div + div {
  background-position: -962px -608px;
}
#gallery div + div + div + div {
  background-position: -1442px -608px;
}
#gallery div + div + div + div + div {
  background-position: -2px -959px;
}
#gallery div + div + div + div + div + div {
  background-position: -482px -958px;
}
#gallery div + div + div + div + div + div + div {
  background-position: -962px -959px;
}
#gallery div + div + div + div + div + div + div + div {
  background-position: -1442px -959px;
}
